.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.img-wrapper {
  width: 200px;
  height: 300px;
  overflow: hidden;
}
.img_container {
  display: flex;
  flex: 1 0 auto;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  left: 0px;
  transition: all 0.4s ease-out;
}
.container {
  width: 200px;
  height: 300px;
  flex: 1 0 auto;
  transition: left 0.4s ease-out;
}

.right,
.left {
  font-size: 2em;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  width: 30px;
  height: 40px;
  border: 1px solid #aaa;
  border-radius: 50%;
  color: #000;
  background-color: #fff;
}

.right:hover,
.left:hover {
  background-color: #000;
  color: #fff;
  transition: all 0.2s ease-out;
}
